// Copyright © 2021 Brandon Li. All rights reserved.

/**
 * Colors that are used for the project, as described in doc/branding-guide.md
 *
 * @author Brandon Li <brandon.li@berkeley.edu>
 */

$dark-grey: #1D1D1D;
$blue: #2974B2;
$green: #38D653;
$red: #D6092C;
$black: #000000;
$dark-grey-2: #262626;
$medium-grey: #393939;
$medium-grey-2: #444444;
$medium-grey-3: #777777;
$grey: #C5C5C5;
$grey-2: #DFDFDF;
$light-grey: #F2F2F2;
$white: #FFFFFF;