// Copyright © 2021 All rights reserved.

/**
 * Global styles that are used for every page of the project.
 *
 * @author Brandon Li <brandon.li@berkeley.edu>
 */

// Partials
@import '@/assets/styles/colors';
@import '@/assets/styles/constants';
@import '@/assets/styles/mixins';

// Fonts, as described in doc/branding-guide.md
@include import-font('open-sans', 400, 600, 700, 800);
@include import-font('montserrat', 400, 500, 600, 700, 800, 900);

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background: $dark-grey;

  // Use momentum-based scrolling for mobile.
  // See https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling
  -webkit-overflow-scrolling: touch;

  // Defines the font-size for 1 rem.
  @include font-def($size: $rem-size);
  @include media-down-font-def($laptop-threshold, $size: 13.5px);
  @include media-down-font-def($tablet-threshold, $size: 12px);
  @include media-down-font-def($mobile-landscape-threshold, $size: 10.5px);
  @include media-down-font-def($iphone-se-landscape-threshold, $size: 9px);
  @include media-down-font-def($mobile-portrait-threshold, $size: 8px);
  @include media-down-font-def($iphone-se-portrait-threshold, $size: 7.5px);
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $dark-grey;
  overflow-x: hidden;
  max-width: 100%;

  // Temporary fix for bolder-fonts on Firefox.
  // See https://www.lockedownseo.com/firefox-font-weight-too-bold/
  @-moz-document url-prefix() {
    font-weight: lighter !important;
  }
}

// Headers, as described in doc/branding-guide.md
h1, h2, h3, h4, h5, h6 {
  @include antialiased;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  align-self: center;
  white-space: nowrap;
}

h1 {
  @include font-def($weight: 700, $spacing: 20px, $size: px-to-rem(75px));
  @include media-down-font-def($mobile-landscape-threshold, $spacing: 15px);
  @include media-down-font-def($iphone-se-landscape-threshold, $spacing: px-to-rem(13.5px));
}

h2 {
  @include font-def($weight: 700, $spacing: 15px, $size: px-to-rem(32px));
  @include media-down-font-def($laptop-threshold, $size: px-to-rem(38px));
  @include media-down-font-def($iphone-se-landscape-threshold, $spacing: px-to-rem(22.5px));
}

h3 {
  @include font-def($weight: 400, $spacing: 6px, $size: px-to-rem(32px));
  @include media-down-font-def($tablet-threshold, $size: px-to-rem(38px));
}

h4 {
  @include font-def($weight: 400, $spacing: 1px, $size: px-to-rem(25px));
  @include media-down-font-def($laptop-threshold, $size: px-to-rem(27px));
}

h5 {
  @include font-def($weight: 400, $spacing: 1px, $size: px-to-rem(20px));
  @include media-down-font-def($laptop-threshold, $size: px-to-rem(24px));
}

h6 {
  @include font-def($weight: 400, $spacing: 1px, $size: px-to-rem(12px));
  @include media-down-font-def($laptop-threshold, $size: px-to-rem(13px));
  @include media-down-font-def($mobile-landscape-threshold, $size: px-to-rem(15px));
}

p, ul, dl, dt {
  @include antialiased;
  @include font-def($weight: 400, $size: 14px);
  @include media-down-font-def($mobile-landscape-threshold, $size: 13.5px);
  @include media-down-font-def($iphone-se-landscape-threshold, $size: 12px);
  @include media-down-font-def($iphone-se-portrait-threshold, $size: 11px);
}

p {
  @include font-def($height: 30px);
  @include media-down-font-def($mobile-landscape-threshold, $height: px-to-rem(40px));
}

a {
  text-decoration: none;
}

ul {
  list-style-position: inside;
  list-style: none;

  li {
    padding-left: 1em;
    text-indent: -1em;

    &:before {
      content: '\2022';
      font-weight: 700;
      padding-right: 0.5em;
    }
  }
}